{
  email {$ACME_EMAIL}
}

{$DOMAIN} {
  handle_path /wapi/webhook* {
    reverse_proxy wizbot:8787
  }

  handle_path /health/wiz* {
    reverse_proxy wizbot:8787
  }

  reverse_proxy app:8501
  encode gzip
}
